.eduPage {
          padding: 40px;
          margin: 0;
          background-color: white;
          font-weight: 600;
}

.eduPage p {
          margin-bottom: 20px;
}

.eduPage strong {
          font-size: 20px;
          color: purple;
}

.eduPage .green {
          color: darkkhaki;
}